<div class="img1">
  <img src="../../assets/person.jpg" alt="image not available" class="rounded-circle">
</div>

<button class="btn btn-primary list"><i class="bi bi-list"></i></button>

<!-- <h1 class="d-none d-md-block">E-Commerce Aplication</h1> -->

<h1 class="greetings">Hi Mr. Michael,</h1>
<h1 class="greetings-2">Welcome Back!</h1>

<div class="card card-search">
  <div class="card-body">
  </div>
</div>

<i class="bi bi-search"></i>
<input type="text" class="my-input" placeholder="Search burger, pizza, drink or etc...">

<h1 class="category">Drink Category</h1>
<h1 class="see-all">See All</h1>

<div class="card card-1">
  <div class="card-body">
  </div>
</div>
<div class="card card-2">
  <div class="card-body">
  </div>
</div>
<div class="card card-3">
  <div class="card-body">
  </div>
</div>

<h1 class="all">All</h1>
<h1 class="beer">Beer</h1>
<h1 class="wine">Wine</h1>

<div class="img2">
  <img src="../../assets/Beer.png" alt="image not available">
</div>
<div class="img3">
  <img src="../../assets/Wine-glass.png" alt="image not available">
</div>

<h1 class="popu">Populer</h1>
<h1 class="see-all2">See All</h1>

<div class="row row-1">
  <div class="col-6" *ngFor="let product of productsList">
    <div class="card card-4 mb-3" [routerLink]="['/', product.id + '-' + product.brand]">
      <div class="card-body">
        <a [routerLink]="['/', product.id + '-' + product.brand]">
          <h1 class="card-title-1 text-center">{{ product.brand }}</h1>
          <div class="text-center">
            <img src="../../assets/{{product.image}}" class="beers" alt="image not available">
          </div>
        </a>
      </div>
      <button class="card-button">+</button>
      <div *ngIf="product.priceToShow" class="card-foot">${{product.priceToShow}}</div>
    </div>
  </div>
</div>


<!-- ----------------------------------------------------------- -->

<!-- <div class="row">
  <div class="col-4 col-md-2  p-0">
    <button type="button" class="btn w-75 text-dark rounded-5">
      All
    </button>
  </div>
  <div class="col-4 col-md-2  p-0">
    <button type="button" class="btn w-75 btn-warning text-white rounded-5">
      <img src="../../assets/Beer.png" alt="Beer" width="16" class="me-2">
      Beer
    </button>
  </div>
  <div class="col-4 col-md-2  p-0">
    <button type="button" class="btn w-75 text-dark">
      <img src="../../assets/Wine-glass.png" width="16" alt="Wine" class="me-2">
      Wine
    </button>
  </div>
</div>

<div>
  <h1 class="fw-bold category">Populer</h1>
</div>

<div class="row">
  <div class="col" *ngFor="let product of productsList">
    <div class="card" [routerLink]="['/', product.id + '-' + product.brand]">
      <div class="card-body">
        <a [routerLink]="['/', product.id + '-' + product.brand]">
          <h1 class="card-title text-center">{{ product.brand }}</h1>
          <div class="text-center">
            <img src="../../assets/{{product.image}}" class="beers" alt="image not available">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<footer class="fixed-bottom d-block d-md-none bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 text-center">
        <a href="#">
          <i class="bi bi-house-door text-warning fs-4"></i>
        </a>
      </div>
      <div class="col-3 text-center">
        <a href="#">
          <i class="bi bi-card-text text-secondary fs-4"></i>
        </a>
      </div>
      <div class="col-3 text-center">
        <a href="#">
          <i class="bi bi-bag-dash text-secondary fs-4"></i>
        </a>
      </div>
      <div class="col-3 text-center">
        <a href="#">
          <i class="bi bi-gear text-secondary fs-4"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
 -->
