<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand ms-auto" href="#">
      <img src="../../assets/person.jpg" alt="Foto de perfil" class="rounded-circle">
    </a>
  </div>
</nav>

<h1 class="fw-normal greetings ms-4 mt-3">Hi Mr. Michael,</h1>
<h1 class="fw-bold greetings-2 ms-4">Welcome Back!</h1>

<div class="d-flex justify-content-center align-items-center my-4">
  <div class="input-group input-group-sm w-75">
    <span class="input-group-text bg-light border-0 rounded-start">
      <i class="bi bi-search text-muted fs-3 ms-1"></i>
    </span>
    <input type="text" class="form-control form-control-sm border-0 rounded-end py-2 pb-3 px-3 fs-4" placeholder="Search burger, pizza, drink or etc...">
  </div>
</div>

<div class="row">
  <div class="col">
    <h1 class="fw-bold category ms-4">Drink Category</h1>
  </div>
  <div class="col d-flex justify-content-end me-4">
    <h1 class="fw-normal greetings ms-md-auto">See All</h1>
  </div>
</div>

<div class="btn-group d-flex justify-content-between my-3" role="group" aria-label="Drink categories">
  <button type="button" class="btn btn-light text-dark rounded-5">
    All
  </button>
  <button type="button" class="btn btn-warning text-white rounded-3">
    <img src="../../assets/Beer.png" alt="Beer" width="16" class="me-2">
    Beer
  </button>
  <button type="button" class="btn btn-light text-dark">
    <img src="../../assets/Wine-glass.png" width="16" alt="Wine" class="me-2">
    Wine
  </button>
</div>

<div>
  <h1 class="fw-bold category ms-4 my-3">Populer</h1>
</div>

<div class="row m-1">
  <div class="col my-1" *ngFor="let product of productsList">
    <div class="card">
      <div class="card-body">
        <a [routerLink]="['/', product.id + '-' + product.brand]">
          <h1 class="card-title">{{ product.brand }}</h1>
          <img src="../../assets/{{product.image}}" class="beers my-3" alt="image not available">
        </a>
      </div>
    </div>
  </div>
</div>

<footer class="fixed-bottom d-block d-md-none bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 text-center">
        <a href="#">
          <i class="bi bi-house-door text-warning fs-4"></i>
        </a>
      </div>
      <div class="col-3 text-center">
        <a href="#">
          <i class="bi bi-card-text text-secondary fs-4"></i>
        </a>
      </div>
      <div class="col-3 text-center">
        <a href="#">
          <i class="bi bi-bag-dash text-secondary fs-4"></i>
        </a>
      </div>
      <div class="col-3 text-center">
        <a href="#">
          <i class="bi bi-gear text-secondary fs-4"></i>
        </a>
      </div>
    </div>
  </div>
</footer>

