<div class="card card-1">
  <div class="card-body">
  </div>
</div>
<div class="card card-2">
  <div class="card-body">
  </div>
</div>
<div class="card card-image">
  <div class="card-body">
  </div>
  <div class="img1">
    <img src="../../assets/{{ product.image }}" class="mx-auto d-block" alt="image not available">
  </div>
</div>

<a [routerLink]="['/']">
  <i class="bi bi-arrow-left fs-3"></i>
</a>
<h1 class="h1-1">Detail</h1>
<a href="#">
  <i class="bi bi-three-dots text-secondary fs-3"></i>
</a>

<div class="card card-3">
  <div class="card-body">
  </div>
</div>

<h1 class="h1-2">{{ product.brand }}</h1>
<h1 class="h1-3">Origin: {{ product.origin }} | Stock: {{ productToShow.stock }}</h1>
<h1 class="h1-4">${{ productToShow.price / 100 }}</h1>
<h1 class="h1-5">Description</h1>
<p class="p-1">{{ product.information | slice:0:160 }}<span *ngIf="product.information.length > 160"><b> ... <a href="#">Read more</a></b></span></p>
<h1 class="h1-6">Size</h1>

<div class="row row-1">
  <div class="col-4" *ngFor="let prod of product.skus">
    <button type="button" class="btn brand-size p-0" (click)="selectSize(prod.code)" [ngClass]="{ 'active': activeButton == prod.code }">
      <h1 class="card-title text-center small-title mt-1 h1-7" [ngClass]="{ 'active': activeButton == prod.code }">
        {{ prod.name | slice:0:10 }}<span *ngIf="prod.name.length > 10"><b>...</b></span>
        <!-- {{ prod.name.replace(' Cans', '') }} -->
        <!-- {{ prod.name}} -->
      </h1>
    </button>
  </div>
</div>

<div class="card card-4">
  <div class="card-body">
  </div>
</div>
<div [routerLink]="['/']" class="card card-5">
  <div class="card-body">
  </div>
</div>

<a [routerLink]="['/']">
  <i class="bi bi-bag-dash fs-3"></i>
</a>

<h1 class="h1-8">Add to cart</h1>
