.beers {
  height: 200px;
}

.detail {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.44px;
  color: #323232;
}

a, b {
  color:#FF9F24;
}

.warning {
  background-color: #FF9F24;
}

// .btn-warning {
//   background-color: #FF9F24;
// }

.origin {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.card {
  border-radius: 15.5px;
  box-sizing: border-box;
 }

 .card-sm {
  border-color: #969696;
  color: #969696;
  border-radius: 25px;
 }

 .main-card {
  border: none;
 }

 .greetings2 {
  font-size: 24px;
  line-height: 31.25px;
  font-family: 'DM Sans', sans-serif;
}

.card-title {
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  line-height: 16px;
 }

 .small-title {
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;
  line-height: 18.23px;
  color: #969696;
 }

 .foot {
  background-color: #FFFFFF;
 }

 .foot-icon {
  border-color:#FF9F24;
 }

 .brand-size {
  border-color:#969696;
  border-radius: 20px;
 }




